@import './common/Styles.less';

.header-container {
  left: 10px;
  top: 0px;
  right: 0px;

  width: 98%;
  height: 80px;
  background: yellow;
  padding-left: 20px;
}

.content-container {
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  color: orange;
}
